<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect langsung ke public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Jika perlu, tambahkan rewrite untuk menghapus 'public'
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /public/
    RewriteRule ^public/(.*)$ /$1 [R=301,L]
</IfModule>
